<div class="mt-10 pr-32 pl-32">
    <%= render @post %>

    <% for i in 0...@post_comments.length %>
    <br>
        <p>
            <%= @post_comments[i].body %>
        </p>
    <br>
    <% end %>
</div>