<div class="mt-10 pr-32 pl-32">
    <div>
        <%= render @post %>
    </div>

    <br>

    <div>
        <h3>Add a new comment.</h3>
    </div>
    <div>
        <div>
            <%= render 'comments/form' %>
        </div>
    </div>
</div>
