<div class="p-5">
    <p>Hello <b><%= @resource.profile.first_name %> <%= @resource.profile.last_name %>!</b></p>

    <p>Someone has requested a link to change your password. You can do this through the link below.</p>

    <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

    <p>If you didn't request this, please ignore this email.</p>
    <p>Your password won't change until you access the link above and create a new one.</p>

    <div>
        <strong>Jorge Ortiz</strong><br>
        <b>Software engineer</b><br>
        <b>Yorchblog</b><br>
        <span>https://yorchblog.herokuapp.com/</span><br>
        <span>Engineer, teacher and entrepreneur.</span><br>
        <span>+52 444 576 3034</span><br>
        <span>San Luis Potosí, México.</span><br>
        <span>yorch-edu.com, yorch-els.com</span>
    </div>
</div>
